@media only screen and (max-width: 767px) {
  /* Styles */
.vwidgetsgrid{
    border: 1px solid  #bac0c4;
    border-radius: 5px;
    padding: 10px 5px;
}

 .gridcontainer{
     display: none;
 }

 .searchsection{
     display: block;
 }

 
 .searchsection .searchtextfield {
     width: 80%;
 }

 .custompagesizecontainer, .paginationcontainer{
     display: block;
     clear:both;
     margin: 0 auto;
     float:none;
     text-align: center;
 }

 .exportoptions{
      display: block;
     clear:both;
     margin: 0 auto;
     float:none;
     text-align: center;
 }

 .searchsection{
     float: none;
     text-align: center;
 }

 
 .searchsection label{
     display: none;
 }

}


@media only screen and (min-width: 768px) {
  /* Styles */

  .gridlistcontainer{
      display: none;
  }

}
